$fontSize: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
$lrgFontSize: clamp(0.7rem, 2vw + .75rem, 1.5rem);
$h1FontSize: clamp(0.7rem, 3vw + 0.75rem, 2.5rem);
$h2FontSize: clamp(0.7rem, 2vw + 0.5rem, 1.75rem);
$primaryColor: #21c1fa;
$primaryOrange: #ff7300;
$secondaryOrange: #fa6400;
$primaryGrey: #434343;
$secondaryGrey: #676767;
$primaryBackground: #0c0c0c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: calc(100vh - 48px);
  background: $primaryBackground;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Fixes footer to bottom of the page below all content
#root {
  position: relative;
  min-height: calc(100vh - 1em);
  padding-bottom: 3em;
}

p,
label {
  font-size: $fontSize;
  text-shadow: -0.05em 0.05em 0.05em #000000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
// Margin for bottom of page
.m {
  visibility: hidden;
}
.icon {
  color: $primaryColor;
}

/* ------------ Mixins ------------ */
@mixin button {
  background-color: $primaryColor;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: $fontSize;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 0.3em 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  box-shadow: 0 0.1em rgb(17, 17, 17);
  text-shadow: -0.025em 0.075em rgb(17, 17, 17);

  &:hover {
    background-color: #0084ff;
  }
  &:active {
    background-color: $primaryColor;
  }
}

@mixin neonButton {
  /* Neon Button */
  & {
    background: $primaryColor;
    padding: 0;
    border: none;
    padding: 0.75em 1.5em;
  }
  &:hover {
    background: transparent;
    color: $primaryColor;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 0.1em;
    background: $primaryColor;
    width: 0;
    box-shadow: 0 0 0.2em $primaryColor, 0 0 0.2em $primaryColor inset;
    transition: 400ms ease all;
  }
  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}

@mixin teamNameListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $primaryColor;
  border: 2px solid $primaryColor;
  border-radius: 0.25rem;
  height: 2em;
  background: $secondaryGrey;
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
}

@mixin checkboxInputGrp {
  width: 85%;
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #fff;
  font-size: $fontSize;
  label {
    margin-bottom: 0.025em;
  }
  input {
    font-size: $h1FontSize;
    accent-color: $primaryColor;
    width: 0.5em;
    height: 0.5em;
    max-width: 20px;
  }
}

/* --------------- Components --------------- */
/* ----------- Navbar ----------- */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1em;
  .heading {
    margin-top: 0.5em;
    font-size: $h1FontSize;
    color: white;
    text-decoration: none;
    font-family: monospace;
    width: 100%;
    h1 {
      border: 3px solid $primaryColor;
      padding: 0.25em;
    }
  }
  // NavLinks
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
    gap: 0.5em;
    li {
      width: 100%;
      .customBtn {
        @include neonButton;
        color: #fff;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        width: 100%;
        border-radius: 0.125em;
      }
      // Active NavLink styles
      .active > button {
        background: $primaryBackground;
        color: $primaryColor;
        border: 0.125em solid $primaryColor;
        border-radius: 0.125em;
      }
      .active > button:hover {
        border: 0.125em solid $primaryBackground;
      }
    }
  }
}
/* ----------- Footer ----------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
  margin: 1em 0;
  padding: 0.5em 0;
  border-bottom: 3px solid $primaryColor;
  border-top: 3px solid $primaryColor;
  color: #c7c7c7;
  text-align: center;
  font-size: $fontSize;
}

/* ---------- Homepage ---------- */
.homepage {
  color: #fff;
  margin: 5vmin 1em;
  h2 {
    font-size: $h2FontSize;
    text-align: center;
    color: $primaryColor;
  }
  .infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    ul {
      font-size: $fontSize;
      color: rgb(230, 230, 230);
      li {
        display: flex;
        align-items: center;
        gap: 1em;
        margin: 1em;
      }
    }
    img {
      width: 50%;
      height: auto;
    }
  }
}

/* ---------- Generator ---------- */
.generatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primaryGrey;
  box-shadow: 0px 3px 30px rgba(200, 200, 200, 0.1);
  border-radius: 0.25em;
  margin: 1em;
  .leftBorder {
    border-left: 3px solid $primaryColor;
    height: 2em;
    margin: 0.25em;
  }
  section {
    width: 100%;
  }
  h1 {
    text-align: center;
    color: $primaryColor;
  }
  .heading {
    color: #fff;
    margin: 1em;
    text-shadow: -0.05em 0.05em 0.05em #000000;
    text-align: center;
    .eliminationTypeSummary {
      font-size: $fontSize;
      margin-top: 1em;
      padding: 0 1em;
    }
    .pageHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      h2 {
        text-align: center;
        color: $primaryColor;
        margin: 0 1.5em;
        font-size: $lrgFontSize;
      }
      svg {
        position: absolute;
        right: 1%;
        top: 5%;
        font-size: $lrgFontSize;
      }
    }
  }
  .instructionsContainer {
    color: #fff;
    text-shadow: -0.05em 0.05em 0.05em #000000;
    margin: 0 .5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .instructionsBtn {
      width: 75%;
      @include button;
      .icon {
        color: #fff;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;
    }
    .instructions {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: .5em;
      ol {
        font-size: $fontSize;
        margin: .5em;
        width: 70%;
        li {
          list-style: decimal;
          margin: 0.5em 0;
          font-size: 0.9em;
        }
        .instructionsNote {
          font-size: .75em;
          color:#bdbdbd;
          text-shadow: none;
        }
      }
    }
    .instructions.hide {
      display: none;
    }
  }
  .minTeamInputGrp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontSize;
    margin: 0 1em 1em 1em;
    padding: .5em .25em .25em .25em;
    border: 1px solid $primaryColor;
    border-radius: .5em;
    .warningTeamLimit {
      color: #fff;
      font-size: .75em;
      margin: 0 1em;
      padding-bottom: .5em;
    }
    div {
      @include checkboxInputGrp;
      margin: 0.5em;
      justify-content: center;
      align-items: center;
      input {
        font-size: $h1FontSize;
      }
    }
  }
  .errorMessageSection {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-height: 3em;
    .errorMessage p {
      background: rgb(255, 0, 0, 0.3);
      border: 1px solid red;
      text-shadow: none;
      margin-top: 0.75em;
      padding: 0.5em 1em;
      border-radius: 10px;
    }
  }

  /* --- Generator Input Section --- */
  .inputGroupContainer {
    background: $secondaryGrey;
    border-top: 2px solid rgb(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    .btnAdd {
      width: 30%;
      margin: 0 0.5em;
      button {
        @include button;
        line-height: 1.1;
        text-shadow: -1px 1px 1px #000000;
        width: 100%;
      }
    }
    .inputGroup {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 1em;
      height: 100%;
      width: 100%;
      .icon {
        margin: 0.25em;
        font-size: $h2FontSize;
      }
      label {
        font-weight: bold;
        color: $primaryColor;
        padding-left: 0.5em;
        font-size: $h2FontSize;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      input {
        width: 100%;
        border-radius: 0.25em;
        border: none;
        margin-right: 0.5em;
        padding: 0.625em;
      }
    }
  }

  /* --- Generator Button Section --- */
  .generateBtnContainer,
  .nextRoundBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondaryGrey;
    padding: 1em 0;
    border-top: 2px solid rgb(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
    button {
      @include button;
      font-size: $h2FontSize;
      max-width: 10em;
    }
  }
  ul {
    margin-top: 1.5em;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25em;
      font-size: $fontSize;
      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
      div:first-child {
        @include teamNameListItem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
        width: 80%;
      }
      div:nth-child(2) {
        @include teamNameListItem;
        p {
          margin: 0.5em;
          transition: all 0.2s ease-in-out;
        }
        p:hover {
          color: #ff0000;
          cursor: pointer;
          transform: scale(1.25);
        }
      }
    }
  }
  /* --- Tournament Over Component --- */
  .tournamentOver {
    width: 100%;
    text-align: center;
    color: #fff;
    h3 {
      margin: .5em .5em 1em .5em;
    }
    span {
      color: $primaryColor;
    }
    .btnResetSingleElim {
      @include button;
      margin: .5em;
    }
    .big {
      font-size: $h1FontSize;
      margin-bottom: .25em;
    }
    .generatedTable {
      margin-top: 1em;
    }
  }
}
/* --- Generator Table Section --- */
.generatedTable {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  background: $primaryGrey;
  h1,
  h3 {
    font-style: italic;
    color: #fff;
    text-shadow: -1px 0 0 $secondaryGrey, -3px 0 2px #000000;
    margin: 0 0.25em;
  }
  .generatedNamesList {
    height: 100%;
    width: 100%;
    ul {
      margin: 1em;
    }
    .tournamentInfo {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-between;
        width: 73%;
        margin: 0;
        li {
          font-size: $h2FontSize;
          gap: 0.5em;
          margin: 0;
          color: #fff;
          text-shadow: -1px 1px 1px #000000;
        }
      }
    }
  }
  .toggleShowByesInputGrp {
    @include checkboxInputGrp;
  }
  .matchCountInformation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: .5em;
    .roundTitle {
      width: 60%;
      display: flex;
      justify-content: center;
      align-content: center;
      h1 {
        width: fit-content;
        padding: .125em .5em;
        font-size: $lrgFontSize;
        border-bottom: 3px solid $primaryColor;
      }
    }
    .matchFinishedIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
      width: 100%;
      color: white;
      padding: .5em;
      .completed .icon {
        color: $primaryColor;
      }
      .notCompleted .icon {
        color: grey;
      }
    }
  }
  .tableItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    .generatedTableItem {
      width: auto;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .generatedTableItem {
    display: flex;
    width: 100%;
    height: 100%;
    &:last-child {
      margin-bottom: 1em;
    }
    .gameContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
      height: 100%;
      width: 100%;
      .gameItemCard {
        .cardHeading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          background: #1d1d1d;
          padding: 0.5em;
          border-top-left-radius: 0.5em;
          border-top-right-radius: 0.5em;
          margin: 0;
          h3 {
            color: $primaryColor;
          }
          .icon {
            font-size: $fontSize;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .cardBody {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          background: #858585;
          padding: 0.5em;
          border-bottom-left-radius: 0.5em;
          border-bottom-right-radius: 0.5em;
          border: 1px solid #1d1d1d;
          .winner {
            border: 1px solid greenyellow;
            color: greenyellow;
          }
          h1 {
            color: $primaryColor;
            margin: 0;
          }
          p {
            border: 2px solid $primaryColor;
            border-radius: 0.25em;
            min-width: 5em;
            text-align: center;
            background: #373737;
            color: white;
            font-weight: 600;
            padding: 0.5em 2em;
            margin: 0 0.25em;
            width: fit-content;
            min-width: 8em;
            box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/* ---------- Media Queries ---------- */
@media (max-width: 400px) {
  .generatorContainer {
    .generatedTable {
      .matchCountInformation {
        flex-direction: column;
        gap: .75em;
        .roundTitle {
          width: 100%;
        }
      }
      .generatedTableItem {
        flex-direction: column;
        .leftBorder {
          border: none;
        }
      }
    }
    .heading {
      h1 {
        font-size: 1rem;
      }
      // p {
      //   font-size: 0.75rem;
      // }
    }
  }
  
}
@media (max-width: 450px) {
  .inputGroupContainer {
    flex-wrap: wrap;
  }
  .btnAdd {
    min-width: 94%;
    margin: 0 .5em;
  }
  .minTeamInputGrp {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    flex-direction: column;
  }
  .tournamentInfo {
    ul {
      flex-direction: column;
      gap: .5em;
      justify-content: center;
      align-items: flex-start;
      padding-left: .5em;
    }
  }
  
}
@media (max-width: 600px) {
  .infoContainer {
    flex-direction: column-reverse;
  }
}