$fontSize: clamp(.7rem, 2.5vw + 1rem, 1.2rem);
$h1FontSize: clamp(.7rem, 3vw + 1rem, 3rem);
$h2FontSize: clamp(.7rem, 4vw + .5rem, 2rem);
$lrgFontSize: clamp(2rem, 5vw + 1rem, 4.5rem);
$primaryColor: #fa6400;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

p {
  font-size: $fontSize;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #434343;
}

/* ---------- Components ---------- */
/* ----- Generator ----- */
.generatorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  section {
    width: 80%;
  }
  h1 {
    text-align: center;
    color: $primaryColor;
  }
  .heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  }
  .inputContainer {
    .errorMessage {
      color: white;
    }
    .inputGroup {
      display: flex;
      gap: 1em;
      align-items: center;
      label {
        font-weight: bold;
        color: $primaryColor;
        border-left: 3px solid $primaryColor;
        padding-left: .5em;
        font-size: 1.2em;
      }
      input {
        line-height: 1.5;
      }
      button {
        background-color: $primaryColor;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #fff;
        cursor: pointer;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        padding: .3em .5em;
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        &:hover,
        &:focus {
          background-color: #fb8332;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }
        &:hover {
          transform: translateY(-1px);
        }
        &:active {
          background-color: #c85000;
          transform: translateY(0);
        }
      }
    }
  }
}
