$fontSize: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
$lrgFontSize: clamp(1rem, 4vw + 1rem, 1.5rem);
$h1FontSize: clamp(0.7rem, 3vw + 1rem, 2.5rem);
$h2FontSize: clamp(0.7rem, 4vw + 0.5rem, 1.75rem);
$primaryOrange: #ff7300;
$secondaryOrange: #fa6400;
$primaryGrey: #434343;
$secondaryGrey: #676767;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #0c0c0c;
}

body {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
label {
  font-size: $fontSize;
  text-shadow: -1px 1px 1px #000000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
}
// Margin for bottom of page
.m {
  visibility: hidden;
}

/* ------------ Mixins ------------ */
@mixin button {
  background-color: $primaryOrange;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: $fontSize;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 0.3em 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  box-shadow: 0 0.1em rgb(17, 17, 17);
  text-shadow: -0.025em 0.075em rgb(17, 17, 17);

  &:hover,
  &:focus {
    background-color: #ee6b1476;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    background-color: #fb9048;
    transform: translateY(0);
  }
}

@mixin teamNameListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $primaryOrange;
  border: 2px solid $primaryOrange;
  border-radius: 0.25rem;
  height: 2em;
  background: $secondaryGrey;
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
}

/* --------------- Components --------------- */
/* ----------- Navbar ----------- */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em;
  text-align: center;
  .heading {
    margin-top: 1em;
    font-size: $h1FontSize;
    color: white;
    text-decoration: none;
    font-family: monospace;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin: 1em;
    gap: 0.5em;
    li {
      width: 100%;
      /* Neon Button */
      .customBtn {
        color: #fff;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        width: 100%;
        border-radius: 0.125em;
      }
      .btnNeon {
        background: $primaryOrange;
        padding: 0;
        border: none;
        padding: 0.75em 1.5em;
      }
      .btnNeon:hover {
        background: transparent;
        color: $primaryOrange;
      }
      .btnNeon:before,
      .btnNeon:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 0.1em;
        background: $primaryOrange;
        width: 0;
        box-shadow: 0 0 0.2em $primaryOrange, 0 0 0.2em $primaryOrange inset;
        transition: 400ms ease all;
      }
      .btnNeon:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
      }
      .btnNeon:hover:before,
      .btnNeon:hover:after {
        width: 100%;
        transition: 800ms ease all;
      }
    }
  }
}

/* ---------- Generator ---------- */
.generatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primaryGrey;
  box-shadow: 0px 3px 30px rgba(200, 200, 200, 0.1);
  border-radius: 0.5em;
  margin: 1em;

  .leftBorder {
    border-left: 3px solid $primaryOrange;
    height: 2em;
    margin: 0.25em;
  }

  section {
    width: 100%;
  }

  h1 {
    text-align: center;
    color: $primaryOrange;
  }

  .heading {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    text-shadow: -1px 1px 1px #000000;
  }

  .errorMessage {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-height: 4em;
  }
  /* --- Generator Input Section --- */
  .inputGroupContainer {
    background: $secondaryGrey;
    border-top: 2px solid rgb(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
    padding: 0.5em 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
      width: 100%;
      height: 100%;

      label {
        font-weight: bold;
        color: $primaryOrange;
        padding-left: 0.5em;
        font-size: $h2FontSize;
        display: flex;
        justify-content: flex-end;
      }

      input {
        line-height: 1.75;
        width: 40vmin;
      }

      button {
        @include button;
        text-shadow: -1px 1px 1px #000000;
      }
    }
  }

  /* --- Generator Button Section --- */
  .generateBtnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondaryGrey;
    padding: 1em 0;
    border-top: 2px solid rgb(0, 0, 0, 0.5);
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);

    button {
      @include button;
      font-size: $h2FontSize;
      max-width: 10em;
    }
  }

  ul {
    margin-top: 4em;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25em;
      font-size: $fontSize;

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }

      div:first-child {
        @include teamNameListItem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
        width: 80%;
      }

      div:nth-child(2) {
        @include teamNameListItem;

        p {
          margin: 0.5em;
          transition: all 0.2s ease-in-out;
        }

        p:hover {
          color: #ff0000;
          cursor: pointer;
          transform: scale(1.25);
        }
      }
    }
  }

  /* --- Generator Table Section --- */
  .generatedTable {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    padding: 0.5em;
    background: $primaryGrey;

    h1,
    h3 {
      font-style: italic;
      color: #fff;
      text-shadow: -1px 0 0 $secondaryGrey, -3px 0 2px #000000;
      margin: 0 0.25em;
    }

    .generatedNamesList {
      padding-top: 1em;
      height: 100%;
      ul {
        margin: 1em;
      }
      h1 {
        margin: 0 4em;
      }
    }

    .toggleShowByesInputGrp {
      width: 85%;
      margin: 1em;
      display: flex;
      align-items: center;
      gap: 1em;
      color: #fff;
      font-size: $fontSize;
      label {
        margin-bottom: 0.025em;
      }
      input {
        font-size: $h1FontSize;
        accent-color: $primaryOrange;
        width: 0.5em;
        height: 0.5em;
        max-width: 20px;
      }
    }

    .generatedTableItem {
      display: flex;
      width: 100%;
      height: 100%;

      .gameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        height: 100%;
        width: 100%;

        .gameItemCard {
          h3 {
            width: 100%;
            background: #1d1d1d;
            padding: 0.5em;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            margin: 0;
            color: $primaryOrange;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            background: #858585;
            padding: 0.5em;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            border: 1px solid #1d1d1d;
            h1 {
              color: $primaryOrange;
            }
            p {
              border: 2px solid $primaryOrange;
              border-radius: 0.25em;
              min-width: 5em;
              text-align: center;
              background: #373737;
              color: white;
              font-weight: 600;
              padding: 0.5em 2em;
              margin: 0 0.25em;
              width: fit-content;
              min-width: 8em;
              box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
            }
          }
        }
      }
    }
  }
}

/* ---------- Media Queries ---------- */
@media (max-width: 400px) {
  .generatedTableItem {
    flex-direction: column;
    .leftBorder {
      border: none;
    }
    & h1:first-of-type {
      border-bottom: 3px solid $primaryOrange;
      padding: 0.25em 0;
      margin: 0.5em;
    }
  }
}
@media (max-width: 450px) {
  .navbar ul {
    flex-direction: column;
  }
}
