* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #0c0c0c;
}

body {
  height: calc(100vh - 48px);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
label {
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
  text-shadow: -1px 1px 1px #000000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m {
  visibility: hidden;
}

.icon {
  color: #21c1fa;
}

/* ------------ Mixins ------------ */
/* --------------- Components --------------- */
/* ----------- Navbar ----------- */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1em;
}
.navbar .heading {
  margin-top: 0.5em;
  font-size: clamp(0.7rem, 3vw + 0.75rem, 2.5rem);
  color: white;
  text-decoration: none;
  font-family: monospace;
  width: 100%;
}
.navbar .heading h1 {
  border: 3px solid #21c1fa;
  padding: 0.25em;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  margin: 1em;
  gap: 0.5em;
}
.navbar ul li {
  width: 100%;
  /* Neon Button */
}
.navbar ul li .customBtn {
  color: #fff;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 0.125em;
}
.navbar ul li .btnNeon {
  background: #21c1fa;
  padding: 0;
  border: none;
  padding: 0.75em 1.5em;
}
.navbar ul li .btnNeon:hover {
  background: transparent;
  color: #21c1fa;
}
.navbar ul li .btnNeon:before,
.navbar ul li .btnNeon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0.1em;
  background: #21c1fa;
  width: 0;
  box-shadow: 0 0 0.2em #21c1fa, 0 0 0.2em #21c1fa inset;
  transition: 400ms ease all;
}
.navbar ul li .btnNeon:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.navbar ul li .btnNeon:hover:before,
.navbar ul li .btnNeon:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* ----------- Footer ----------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
  margin: 1em 0;
  padding: 0.5em 0;
  border-bottom: 3px solid #21c1fa;
  border-top: 3px solid #21c1fa;
  color: #c7c7c7;
  text-align: center;
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
}

/* ---------- Homepage ---------- */
.homepage {
  color: #fff;
  margin: 5vmin 1em;
}
.homepage .infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}
.homepage .infoContainer ul {
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
  color: rgb(177, 177, 177);
}
.homepage .infoContainer ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
.homepage .infoContainer img {
  width: 50%;
  height: auto;
}

/* ---------- Generator ---------- */
.generatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #434343;
  box-shadow: 0px 3px 30px rgba(200, 200, 200, 0.1);
  border-radius: 0.25em;
  margin: 1em;
  /* --- Generator Input Section --- */
  /* --- Generator Button Section --- */
  /* --- Generator Table Section --- */
}
.generatorContainer .leftBorder {
  border-left: 3px solid #21c1fa;
  height: 2em;
  margin: 0.25em;
}
.generatorContainer section {
  width: 100%;
}
.generatorContainer h1 {
  text-align: center;
  color: #21c1fa;
}
.generatorContainer .heading {
  color: #fff;
  padding: 1em;
  text-shadow: -1px 1px 1px #000000;
}
.generatorContainer .heading p {
  margin-top: 1em;
}
.generatorContainer .errorMessageSection {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.generatorContainer .errorMessageSection .errorMessage p {
  background: red;
  margin-top: 0.75em;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.generatorContainer .inputGroupContainer {
  background: #676767;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0.5em 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
.generatorContainer .inputGroupContainer .inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100%;
}
.generatorContainer .inputGroupContainer .inputGroup .icon {
  margin: 0.25em;
  font-size: clamp(1rem, 4vw + 1rem, 1.5rem);
}
.generatorContainer .inputGroupContainer .inputGroup label {
  font-weight: bold;
  color: #21c1fa;
  padding-left: 0.5em;
  font-size: clamp(1rem, 4vw + 1rem, 1.5rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.generatorContainer .inputGroupContainer .inputGroup input {
  line-height: 2.5;
  width: 100%;
  border-radius: 0.25em;
  border: none;
  padding: 0 1em;
  margin-right: 0.5em;
}
.generatorContainer .inputGroupContainer button {
  background-color: #21c1fa;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 0.3em 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  box-shadow: 0 0.1em rgb(17, 17, 17);
  text-shadow: -0.025em 0.075em rgb(17, 17, 17);
  line-height: 1.1;
  text-shadow: -1px 1px 1px #000000;
}
.generatorContainer .inputGroupContainer button:hover, .generatorContainer .inputGroupContainer button:focus {
  background-color: #0084ff;
}
.generatorContainer .inputGroupContainer button:active {
  background-color: #38caff;
  transform: translateY(0);
}
.generatorContainer .generateBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #676767;
  padding: 1em 0;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.generatorContainer .generateBtnContainer button {
  background-color: #21c1fa;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  padding: 0.3em 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  box-shadow: 0 0.1em rgb(17, 17, 17);
  text-shadow: -0.025em 0.075em rgb(17, 17, 17);
  font-size: clamp(0.7rem, 4vw + 0.5rem, 1.75rem);
  max-width: 10em;
}
.generatorContainer .generateBtnContainer button:hover, .generatorContainer .generateBtnContainer button:focus {
  background-color: #0084ff;
}
.generatorContainer .generateBtnContainer button:active {
  background-color: #38caff;
  transform: translateY(0);
}
.generatorContainer ul {
  margin-top: 1.5em;
}
.generatorContainer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
}
.generatorContainer ul li:not(:last-child) {
  margin-bottom: 0.25em;
}
.generatorContainer ul li div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #21c1fa;
  border: 2px solid #21c1fa;
  border-radius: 0.25rem;
  height: 2em;
  background: #676767;
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 80%;
}
.generatorContainer ul li div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #21c1fa;
  border: 2px solid #21c1fa;
  border-radius: 0.25rem;
  height: 2em;
  background: #676767;
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
}
.generatorContainer ul li div:nth-child(2) p {
  margin: 0.5em;
  transition: all 0.2s ease-in-out;
}
.generatorContainer ul li div:nth-child(2) p:hover {
  color: #ff0000;
  cursor: pointer;
  transform: scale(1.25);
}
.generatorContainer .generatedTable {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  background: #434343;
}
.generatorContainer .generatedTable h1,
.generatorContainer .generatedTable h3 {
  font-style: italic;
  color: #fff;
  text-shadow: -1px 0 0 #676767, -3px 0 2px #000000;
  margin: 0 0.25em;
}
.generatorContainer .generatedTable .generatedNamesList {
  padding-top: 1em;
  height: 100%;
  width: 100%;
}
.generatorContainer .generatedTable .generatedNamesList .tournamentInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 1em 0;
}
.generatorContainer .generatedTable .generatedNamesList .tournamentInfo li {
  font-size: clamp(1rem, 4vw + 1rem, 1.5rem);
  display: flex;
  gap: 0.5em;
  color: #fff;
  text-shadow: -1px 1px 1px #000000;
}
.generatorContainer .generatedTable .generatedNamesList ul {
  margin: 1em;
}
.generatorContainer .generatedTable .toggleShowByesInputGrp {
  width: 85%;
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: #fff;
  font-size: clamp(0.7rem, 2vw + 0.5rem, 1.2rem);
}
.generatorContainer .generatedTable .toggleShowByesInputGrp label {
  margin-bottom: 0.025em;
}
.generatorContainer .generatedTable .toggleShowByesInputGrp input {
  font-size: clamp(0.7rem, 3vw + 0.75rem, 2.5rem);
  accent-color: #21c1fa;
  width: 0.5em;
  height: 0.5em;
  max-width: 20px;
}
.generatorContainer .generatedTable .generatedTableItem {
  display: flex;
  width: 100%;
  height: 100%;
}
.generatorContainer .generatedTable .generatedTableItem:last-child {
  margin-bottom: 1em;
}
.generatorContainer .generatedTable .generatedTableItem .gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  height: 100%;
  width: 100%;
}
.generatorContainer .generatedTable .generatedTableItem .gameContainer .gameItemCard h3 {
  width: 100%;
  background: #1d1d1d;
  padding: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0;
  color: #21c1fa;
}
.generatorContainer .generatedTable .generatedTableItem .gameContainer .gameItemCard div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: #858585;
  padding: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid #1d1d1d;
}
.generatorContainer .generatedTable .generatedTableItem .gameContainer .gameItemCard div h1 {
  color: #21c1fa;
}
.generatorContainer .generatedTable .generatedTableItem .gameContainer .gameItemCard div p {
  border: 2px solid #21c1fa;
  border-radius: 0.25em;
  min-width: 5em;
  text-align: center;
  background: #373737;
  color: white;
  font-weight: 600;
  padding: 0.5em 2em;
  margin: 0 0.25em;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 8em;
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.1);
}

/* ---------- Media Queries ---------- */
@media (max-width: 400px) {
  .generatedTableItem {
    flex-direction: column;
  }
  .generatedTableItem .leftBorder {
    border: none;
  }
  .generatedTableItem h1:first-of-type {
    border-bottom: 3px solid #21c1fa;
    padding: 0.25em 0;
    margin: 0.5em;
  }
}
@media (max-width: 450px) {
  .navbar ul {
    flex-direction: column;
  }
  .inputGroupContainer {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .infoContainer {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=index.css.map */